@page
@model List<LMS.Infrastructures.Models.StudentTransport>
@{
}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Mode of Transport</th>
                                <th>Roll No</th>
                                <th>Pickup Point</th>
                                <th>Student ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                @foreach (var transport in Model)
                                {
                                    <tr>
                                        <td>@transport.ModeOfTransport</td>
                                        <td>@transport.RollNo</td>
                                        <td>@transport.PickupPoint</td>
                                        <td>@transport.StudentId</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
