@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LMS.Administration.Pages.Configuration.MaritalStatus
@{
}
<form method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <div class="form-check">
                    <label asp-for="MaritalStatusCode" class="form-label"></label>
                    <input asp-for="MaritalStatusCode" class="form-control" />
                    <span asp-validation-for="MaritalStatusCode" class="text-danger"></span>
                    <input type="hidden" asp-for="MaritalStatusId" />
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="MaritalStatusName" class="form-label"></label>
                <input asp-for="MaritalStatusName" class="form-control" />
                <span asp-validation-for="MaritalStatusName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="IsActive" class="form-label"></label>
                    <input type="checkbox" asp-for="IsActive" class="form-control" />
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</form>