@page
@model LMS.Admin.Views.Home.BannerModel
@{
    ViewBag.Ref = "Infrastructure";
    ViewBag.Title = "Manage Banner";
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @ViewBag.Title
                </h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>Banner Name</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.lstBanner != null)
                            {
                                foreach (var item in Model.lstBanner)
                                {
                                    <tr>
                                        <td>@item.BannerName</td>
                                        <td>@item.IsActive</td>
                                        <td>
                                            <form method="post" asp-page-handler="Delete" asp-route-id="@item.BannerId" class="d-inline">
                                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>