@page
@model LMS.Admin.Views.Home.ContactUsModel
@{
    ViewBag.Ref = "Infrastructure";
    ViewBag.Title = "Contact Us";
}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample">
                    <div class="form-group">
                        <label asp-for="contactUs.heading" class="form-label"></label>
                        <input asp-for="contactUs.heading" class="form-control" />
                        <span asp-validation-for="contactUs.heading" class="text-danger"></span>
                        <input type="hidden" asp-for="contactUs.id" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="contactUs.message" class="form-label"></label>
                        <textarea asp-for="contactUs.message" class="form-control" />
                        <span asp-validation-for="contactUs.message" class="text-danger"></span>
                    </div>
                    <div style="float:right;">
                        <button type="submit" class="btn btn-primary mr-2"> Submit</button>
                        <button class="btn btn-light mr-2">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>