@page
@model List<LMS.Infrastructures.Models.StudentParent>
@{
}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New StudentParentsDetails</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form method="post" asp-action="InsertStudentParents" asp-controller="Student">
            <div class="row">

      

                <!-- FatherName -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="FatherName">Father's Name</label>
                        <input type="text" class="form-control" id="FatherName" name="FatherName" placeholder="Enter Father's Name" />
                    </div>
                </div>

                <!-- MotherName -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="MotherName">Mother's Name</label>
                        <input type="text" class="form-control" id="MotherName" name="MotherName" placeholder="Enter Mother's Name" />
                    </div>
                </div>

                <!-- FatherAadhaar -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="FatherAadhaar">Father's Aadhaar</label>
                        <input type="number" class="form-control" id="FatherAadhaar" name="FatherAadhaar" placeholder="Enter Father's Aadhaar" />
                    </div>
                </div>

                <!-- MotherAadhaar -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="MotherAadhaar">Mother's Aadhaar</label>
                        <input type="number" class="form-control" id="MotherAadhaar" name="MotherAadhaar" placeholder="Enter Mother's Aadhaar" />
                    </div>
                </div>

                <!-- FatherPan -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="FatherPan">Father's PAN</label>
                        <input type="text" class="form-control" id="FatherPan" name="FatherPan" placeholder="Enter Father's PAN" />
                    </div>
                </div>

                <!-- MotherPan -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="MotherPan">Mother's PAN</label>
                        <input type="text" class="form-control" id="MotherPan" name="MotherPan" placeholder="Enter Mother's PAN" />
                    </div>
                </div>

                <!-- Relation -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Relation">Relation</label>
                        <input type="text" class="form-control" id="Relation" name="Relation" placeholder="Enter Relation" />
                    </div>
                </div>

                <!-- DateofBirth -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="DateofBirth">Date of Birth</label>
                        <input type="date" class="form-control" id="DateofBirth" name="DateofBirth" />
                    </div>
                </div>

                <!-- FatherQualification -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="FatherQualification">Father's Qualification</label>
                        <input type="text" class="form-control" id="FatherQualification" name="FatherQualification" placeholder="Enter Father's Qualification" />
                    </div>
                </div>

                <!-- MotherQualification -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="MotherQualification">Mother's Qualification</label>
                        <input type="text" class="form-control" id="MotherQualification" name="MotherQualification" placeholder="Enter Mother's Qualification" />
                    </div>
                </div>

                <!-- FatherOccupation -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="FatherOccupation">Father's Occupation</label>
                        <input type="text" class="form-control" id="FatherOccupation" name="FatherOccupation" placeholder="Enter Father's Occupation" />
                    </div>
                </div>

                <!-- FatherCompanyName -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="FatherCompanyName">Father's Company Name</label>
                        <input type="text" class="form-control" id="FatherCompanyName" name="FatherCompanyName" placeholder="Enter Father's Company Name" />
                    </div>
                </div>

                <!-- FatherAnnualIncome -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="FatherAnnualIncome">Father's Annual Income</label>
                        <input type="number" class="form-control" id="FatherAnnualIncome" name="FatherAnnualIncome" placeholder="Enter Annual Income" />
                    </div>
                </div>

                <!-- MotherOccupation -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="MotherOccupation">Mother's Occupation</label>
                        <input type="text" class="form-control" id="MotherOccupation" name="MotherOccupation" placeholder="Enter Mother's Occupation" />
                    </div>
                </div>

                <!-- MotherCompanyName -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="MotherCompanyName">Mother's Company Name</label>
                        <input type="text" class="form-control" id="MotherCompanyName" name="MotherCompanyName" placeholder="Enter Mother's Company Name" />
                    </div>
                </div>

                <!-- Mobile -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Mobile">Mobile</label>
                        <input type="number" class="form-control" id="Mobile" name="Mobile" placeholder="Enter Mobile Number" />
                    </div>
                </div>

                <!-- FatherAddress -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="FatherAddress">Father's Address</label>
                        <input type="text" class="form-control" id="FatherAddress" name="FatherAddress" placeholder="Enter Father's Address" />
                    </div>
                </div>

                <!-- FatherCity -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="FatherCity">Father's City</label>
                        <input type="text" class="form-control" id="FatherCity" name="FatherCity" placeholder="Enter Father's City" />
                    </div>
                </div>

                <!-- FatherPincode -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="FatherPincode">Father's Pincode</label>
                        <input type="number" class="form-control" id="FatherPincode" name="FatherPincode" placeholder="Enter Father's Pincode" />
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="col-md-12 mt-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </div>
        </form>
    </div>

</div>