<ol class="breadcrumb breadcrumb-bg-pink">
    <li><a href="javascript:void(0);"><i class="material-icons">home</i> @ViewBag.Ref</a></li>
    <li class="active"><i class="material-icons">library_books</i> @ViewBag.Title</li>
</ol>