<nav class="bottom-navbar">
    <div class="container">
        <ul class="nav page-navigation">
            <li class="nav-item">
                <a class="nav-link" href="/Home/Dashboard">
                    <i class="mdi mdi-compass-outline menu-icon"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="mdi mdi-monitor-dashboard menu-icon"></i>
                    <span class="menu-title">Infrastructure</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item">
                            <a class="nav-link" href="pages/ui-features/buttons.html">Manage Buiding</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Inventory">Manage Inventory</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Banner">Manage Banner</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/ContactUs">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="mdi mdi-monitor-dashboard menu-icon"></i>
                    <span class="menu-title">Staff</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item">
                            <a class="nav-link" href="/Staff/Role">Manage Role</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Staff/Category">Manage Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pages/ui-features/typography.html">Manage Department</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pages/ui-features/typography.html">Manage Employee</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="mdi mdi-contacts menu-icon"></i>
                    <span class="menu-title">Student</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item">
                            <a class="nav-link" href="/Class">Manage Class</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pages/ui-features/buttons.html">Manage Student</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pages/ui-features/dropdowns.html">Manage Enquiry</a>
                        </li>
                        @*     <li class="nav-item">
                            <a class="nav-link" href="pages/ui-features/dropdowns.html">Admission Enquiry</a>
                        </li> *@
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="mdi mdi-chart-bar menu-icon"></i>
                    <span class="menu-title">Library</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item">
                            <a class="nav-link" href="/Book">Manage Book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ApproveBook">Approve Book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pages/ui-features/dropdowns.html">Issue Book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Generate/Barcode">Generate Barcode</a>
                        </li>
                    </ul>
                </div>
            </li>
            @*          <li class="nav-item">
                <a class="nav-link" href="pages/tables/basic-table.html">
                    <i class="mdi mdi-table-large menu-icon"></i>
                    <span class="menu-title">Tables</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://www.bootstrapdash.com/demo/plus-free/documentation/documentation.html" class="nav-link" target="_blank">
                    <i class="mdi mdi-file-document-box menu-icon"></i>
                    <span class="menu-title">Docs</span>
                </a>
            </li> *@
            <li class="nav-item">
                <div class="nav-link d-flex">
                    <a class="text-white" href="/"><i class="mdi mdi-home-circle"></i></a>
                </div>
            </li>
        </ul>
    </div>
</nav>