@page
@model LMS.Administration.Pages.Class.IndexModel
@{
}
<form id="form_classes" method="POST">
    <div class="modal-body">
        <!-- First Column -->
        
        <div class="col-md-4">
            <div class="form-group form-float">
                <div class="form-line">
                    <input type="text" class="form-control" name="ClassesName" required>
                    <label class="form-label">Classes Name</label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-float">
                <div class="form-line">
                    <select class="form-control" name="IsActive" required>
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                    
                </div>
            </div>
        </div>

   
        <div class="col-md-4">
            <div class="form-group form-float">
                <div class="form-line">
                    <input type="number" class="form-control" name="Code" required>
                    <label class="form-label">Code</label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-float">
                <div class="form-line">
                    <input type="text" class="form-control" name="Sequence" required>
                    <label class="form-label">Sequence</label>
                </div>
            </div>
        </div>

        <!-- Fourth Column -->
        <div class="col-md-4">
            <div class="form-group form-float">
                <div class="form-line">
                    <input type="text" class="form-control" name="BatchName" required>
                    <label class="form-label">Batch Name</label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-float">
                <div class="form-line">
                    <input type="date" class="form-control" name="StartDate" required>
                    <label class="form-label">Start Date</label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-float">
                <div class="form-line">
                    <input type="date" class="form-control" name="EndDate" required>
                    <label class="form-label">End Date</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    </div>
</form>

@* <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form method="post" asp-action="InsertClass" asp-controller="Class">
            <div class="row">
            
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="Title">ClassesName</label>
                            <input type="text" class="form-control" placeholder="ClassesName" name="ClassesName" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                  
                      
                            <label for="exampleInputUsername1">IsActive</label>
                            <input type="checkbox" class="form-control" placeholder="IsActive" name="IsActive" />
                      
                   
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">CreatedOn</label>
                            <input type="date" class="form-control" name="CreatedOn" placeholder="CreatedOn" />
                        </div>
                    </div>
                </div>
               
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">ModifiedOn</label>
                            <input type="date" class="form-control"  name="ModifiedOn" placeholder="ModifiedOn" />
                        </div>
                    </div>
                </div>
               
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Code</label>
                            <input type="number" class="form-control" id="exampleInputUsername1" name="Code" placeholder="Code" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Sequence</label>
                            <input type="text" class="form-control" id="Sequence" name="Sequence" placeholder="Sequence" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">BatchName</label>
                            <input type="text" class="form-control" id="BatchName" name="BatchName" placeholder="BatchName" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">StartDate</label>
                            <input type="date" class="form-control" id="StartDate" name="StartDate" placeholder="StartDate" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">EndDate</label>
                            <input type="date" class="form-control" id="EndDate" name="EndDate" placeholder="EndDate" />
                        </div>
                    </div>
                </div>
             
               

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div> *@

