@model LMS.Administration.Pages.Staff.StaffPersonal

<!-- Bootstrap Material Datetime Picker Css -->
<link href="~/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
<!-- Wait Me Css -->
<link href="~/assets/plugins/waitme/waitMe.css" rel="stylesheet" />
<!-- Custom Css -->
<link href="~/assets/css/style.css" rel="stylesheet">

<form id="form_advanced_validation" method="POST">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group form-float">
                    <label asp-for="ProfilePicture" class="form-label"></label>
                    <div class="form-line">
                        <input type="file" asp-for="ProfilePicture" class="form-control" />
                        <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                        <input type="hidden" asp-for="StaffId" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-float">
                    <label asp-for="AadharCardNo" class="form-label"></label>
                    <div class="form-line">
                        <input type="number" asp-for="AadharCardNo" class="form-control" />
                        <span asp-validation-for="AadharCardNo" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-float">
                    <label asp-for="MaritalStatus" class="form-label"></label>
                    <div class="form-line">
                        @* @Html.DropDownListFor(m => m.Title, Model.lstTitle, new
                            {
                                @class =
                                 "form-control"
                            }) *@
                        <select class="form-control show-tick">
                            <option value="">-- Please select --</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                        <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-float">
                    <label asp-for="MarriageAnniversary" class="form-label"></label>
                    <div class="form-line">
                        <input asp-for="MarriageAnniversary" class="datepicker form-control" placeholder="Please choose a date..." />
                        <span asp-validation-for="MarriageAnniversary" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-float">
                    <label asp-for="SpouseName" class="form-label"></label>
                    <div class="form-line">
                        <input asp-for="SpouseName" class="form-control" />
                        <span asp-validation-for="SpouseName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-float">
                    <label asp-for="PanCardNo" class="form-label"></label>
                    <div class="form-line">
                        <input asp-for="PanCardNo" class="form-control" />
                        <span asp-validation-for="PanCardNo" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <label asp-for="FatherName" class="form-label"></label>
                    <div class="form-line">
                        <input asp-for="FatherName" class="form-control" />
                        <span asp-validation-for="FatherName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-float">
                    <label asp-for="MotherName" class="form-label"></label>
                    <div class="form-line">
                        <input asp-for="MotherName" class="form-control" />
                        <span asp-validation-for="MotherName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <label asp-for="BloodGroupId" class="form-label"></label>
                    <div class="form-line">
                        @* @Html.DropDownListFor(m => m.Title, Model.lstTitle, new
                            {
                                @class =
                                 "form-control"
                            }) *@
                        <select class="form-control show-tick">
                            <option value="">-- Please select --</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                        <span asp-validation-for="BloodGroupId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <label asp-for="Nationality" class="form-label"></label>
                    <div class="form-line">
                        @* @Html.DropDownListFor(m => m.Title, Model.lstTitle, new
                            {
                                @class =
                                 "form-control"
                            }) *@
                        <select class="form-control show-tick">
                            <option value="">-- Please select --</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                        <span asp-validation-for="Nationality" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <label asp-for="EmployementTypeId" class="form-label"></label>
                    <div class="form-line">
                        @* @Html.DropDownListFor(m => m.Title, Model.lstTitle, new
                            {
                                @class =
                                 "form-control"
                            }) *@
                        <select class="form-control show-tick">
                            <option value="">-- Please select --</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                        <span asp-validation-for="EmployementTypeId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-float">
                    <label asp-for="OnlyViewingrights" class="form-label"></label>
                    <div class="form-line">
                        <input type="checkbox" asp-for="OnlyViewingrights" class="form-control" />
                        <span asp-validation-for="OnlyViewingrights" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <label asp-for="UANNumber" class="form-label"></label>
                    <div class="form-line">
                        <input type="number" asp-for="UANNumber" class="form-control" />
                        <span asp-validation-for="UANNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <label asp-for="ShiftInTime" class="form-label"></label>
                    <div class="form-line">
                        <input asp-for="ShiftInTime" class="timepicker form-control" placeholder="Please choose a time..." />
                        <span asp-validation-for="ShiftInTime" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <label asp-for="ShiftOutTime" class="form-label"></label>
                    <div class="form-line">
                        <input asp-for="ShiftOutTime" class="timepicker form-control" placeholder="Please choose a time..." />
                        <span asp-validation-for="ShiftOutTime" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <label asp-for="AccountNumber" class="form-label"></label>
                    <div class="form-line">
                        <input type="number" asp-for="AccountNumber" class="form-control" />
                        <span asp-validation-for="AccountNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <label asp-for="BankName" class="form-label"></label>
                    <div class="form-line">
                        <input asp-for="BankName" class="form-control" />
                        <span asp-validation-for="BankName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-float">
                    <label asp-for="IfscCode" class="form-label"></label>
                    <div class="form-line">
                        <input asp-for="IfscCode" class="form-control" />
                        <span asp-validation-for="IfscCode" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary waves-effect">SUBMIT & NEXT</button>
        <a href="/Staff/StaffGeneralInfo" class="btn bg-blue-grey waves-effect">BACK</a>
        <button type="button" class="btn bg-blue-grey waves-effect">RESET</button>
    </div>
</form>

<script src="~/assets/plugins/momentjs/moment.js"></script>
<script src="~/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<script src="~/assets/js/pages/forms/basic-form-elements.js"></script>