@model LMS.Administration.Pages.Staff.StaffGeneral

<form id="form_advanced_validation" method="POST">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group form-float">
                    <label asp-for="Title" class="form-label"></label>
                    <div class="form-line">
                        @* @Html.DropDownListFor(m => m.Title, Model.lstTitle, new
                            {
                                @class =
                                 "form-control"
                            }) *@
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-float">
                    <label asp-for="FirstName" class="form-label"></label>
                    <div class="form-line">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-float">
                    <label asp-for="MiddleName" class="form-label"></label>
                    <div class="form-line">
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-float">
                    <label asp-for="LastName" class="form-label"></label>
                    <div class="form-line">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-float">
                    <label asp-for="DoJ" class="form-label"></label>
                    <div class="form-line">
                        <input asp-for="DoJ" class="datepicker form-control" />
                        <span asp-validation-for="DoJ" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary waves-effect">SUBMIT</button>
        <button type="button" class="btn bg-blue-grey waves-effect" data-dismiss="modal">CLOSE</button>
    </div>
</form>