@model LMS.Administration.Pages.Subscription.SubscriptionPackage
@{
}
<form id="form_advanced_validation" method="POST">
    <div class="modal-body">
        <div class="form-group form-float">
            <label asp-for="SubscriptionPackageName" class="form-label"></label>
            <div class="form-line">
                <input asp-for="SubscriptionPackageName" class="form-control" />
                <span asp-validation-for="SubscriptionPackageName" class="text-danger"></span>
                <input type="hidden" asp-for="SubscriptionPackageId" class="form-control" />
            </div>
        </div>
        <div class="form-group form-float">
            <label asp-for="SubscriptionPeriodMonths" class="form-label"></label>
            <div class="form-line">
                <input type="number" asp-for="SubscriptionPeriodMonths" class="form-control" />
                <span asp-validation-for="SubscriptionPeriodMonths" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group form-float">
            <label asp-for="PriceMonth" class="form-label"></label>
            <div class="form-line">
                <input type="number" asp-for="PriceMonth" class="form-control" />
                <span asp-validation-for="PriceMonth" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group form-float">
            <label asp-for="DiscountPer" class="form-label"></label>
            <div class="form-line">
                <input type="number" asp-for="DiscountPer" class="form-control" />
                <span asp-validation-for="DiscountPer" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group form-float">
            <label asp-for="IsActive" class="form-label"></label>
            <div class="form-line">
                <input type="checkbox" asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group form-float">
            <label asp-for="Description" class="form-label"></label>
            <div class="form-line">
                @* <textarea asp-for="aboutUs.heading" id="ckeditor" /> *@
                <textarea id="ckeditor"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary waves-effect">SUBMIT</button>
        <button type="button" class="btn bg-blue-grey waves-effect" data-dismiss="modal">CLOSE</button>
    </div>
</form>
<script src="~/assets/plugins/ckeditor/ckeditor.js"></script>
<script src="~/assets/plugins/tinymce/tinymce.js"></script>
<script src="~/assets/js/pages/forms/editors.js"></script>
