@page
@model LMS.Administration.Pages.Account.LoginModel
@{
    Layout = "~/Pages/Shared/_LayoutLogin.cshtml";
}
<div class="card">
    <div class="body">
        <form id="sign_in" method="POST">
            
            <h4>Login</h4>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">person</i>
                </span>
                <div class="form-line">
                    <input asp-for="Input.Email" class="form-control" placeholder="Username" autofocus />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">lock</i>
                </span>
                <div class="form-line">
                    <input type="password" asp-for="Input.Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 p-t-5">
                    <input asp-for="Input.RememberMe" class="filled-in chk-col-pink" />
                    <label asp-for="Input.RememberMe" class="form-check-label"></label>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-block bg-pink waves-effect" type="submit">SIGN IN</button>
                </div>
            </div>
            <div class="row m-t-15 m-b--20">
                <div class="col-xs-6">
                    <a href="/Account/ForgotPassword">Forgot Password?</a>
                </div>
            </div>
            @if(!string.IsNullOrEmpty(Model.ErrorMessage))
            {
            <div class="msg">@Model.ErrorMessage</div>
            }
        </form>
    </div>
</div>