@page
@model LMS.Administration.Pages.Account.LoginModel
@{
}
<form method="post">
    <div>
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" />
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Input.Password" type="password" />
    </div>
    <div>
        <label>Remember Me</label>
        <input asp-for="Input.RememberMe" type="checkbox" />
    </div>
    <button type="submit">Login</button>
</form>

@if (!string.IsNullOrEmpty(Model.ReturnUrl))
{
    <input type="hidden" asp-for="ReturnUrl" />
}