@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Building</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Domain</label>
                            <select class="form-control">
                                <option>Domain 1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Building Name</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Address 1</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Address 2</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Country</label>
                            <select class="form-control">
                                <option>Country 1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">State</label>
                            <select class="form-control">
                                <option>State 1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">City</label>
                            <select class="form-control">
                                <option>City 1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Contact Person</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Contact No</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Contact Email</label>
                            <input type="email" class="form-control" id="exampleInputUsername1" placeholder="Username" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>