@* Added by Zafar Iqubal *@
@page
@model LMS.Admin.Views.Books.IndexModel
@{
}
<form id="form_advanced_validation" method="POST">
	<div>
		<div class="modal-body">
			<!-- Existing Fields -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="AccessionNumber" required>
						<label class="form-label">Accession Number</label>
					</div>
				</div>
			</div>

			<!-- Accessor Date -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="date" class="form-control" name="AccessorDate" required>
						<label class="form-label">Accessor Date</label>
					</div>
				</div>
			</div>

			<!-- Barcode -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="Barcode" maxlength="255" required>
						<label class="form-label">Barcode</label>
					</div>
				</div>
			</div>

			<!-- Title -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="Title" maxlength="255" required>
						<label class="form-label">Title</label>
					</div>
				</div>
			</div>

			<!-- Author -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="Author" maxlength="255" required>
						<label class="form-label">Author</label>
					</div>
				</div>
			</div>

			<!-- Year -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="Year" min="1900" max="2100" required>
						<label class="form-label">Year</label>
					</div>
				</div>
			</div>

			<!-- Edition -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="Edition" maxlength="255" required>
						<label class="form-label">Edition</label>
					</div>
				</div>
			</div>

			<!-- Publisher -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="Publisher" maxlength="255" required>
						<label class="form-label">Publisher</label>
					</div>
				</div>
			</div>

			<!-- Publisher Location -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="PublisherLocation" maxlength="255" required>
						<label class="form-label">Publisher Location</label>
					</div>
				</div>
			</div>

			<!-- Volume -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="Volume" maxlength="255" required>
						<label class="form-label">Volume</label>
					</div>
				</div>
			</div>

			<!-- Vendor Name -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="VendorName" maxlength="255" required>
						<label class="form-label">Vendor Name</label>
					</div>
				</div>
			</div>

			<!-- Vendor Place -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="VendorPlace" maxlength="255" required>
						<label class="form-label">Vendor Place</label>
					</div>
				</div>
			</div>

			<!-- Original Amount -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="OriginalAmount" required>
						<label class="form-label">Original Amount</label>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="Cost" min="0" required>
						<label class="form-label">Cost</label>
					</div>
				</div>
			</div>

			<!-- Discount -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="Discount" step="0.01" min="0" required>
						<label class="form-label">Discount</label>
					</div>
				</div>
			</div>

			<!-- Bill Number -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="BillNo" required>
						<label class="form-label">Bill Number</label>
					</div>
				</div>
			</div>

			<!-- Number of Copies -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="NoofCopies" min="1" required>
						<label class="form-label">Number of Copies</label>
					</div>
				</div>
			</div>

			<!-- Bill Date -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="date" class="form-control" name="BillDate" required>
						<label class="form-label">Bill Date</label>
					</div>
				</div>
			</div>

			<!-- Class Number -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="ClassNo" required>
						<label class="form-label">Class Number</label>
					</div>
				</div>
			</div>

			<!-- Book Number -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="BookNumber" required>
						<label class="form-label">Book Number</label>
					</div>
				</div>
			</div>

			<!-- Collection Number -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="CollectionNo" required>
						<label class="form-label">Collection Number</label>
					</div>
				</div>
			</div>

			<!-- ISBN Number -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="Isbnnumber" min="0" required>
						<label class="form-label">ISBN Number</label>
					</div>
				</div>
			</div>

			<!-- Location -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="Location" maxlength="255" required>
						<label class="form-label">Location</label>
					</div>
				</div>
			</div>

			<!-- Rack Number -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="RackNo" min="1" required>
						<label class="form-label">Rack Number</label>
					</div>
				</div>
			</div>

			<!-- Shelf Number -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="ShelfNo" min="1" required>
						<label class="form-label">Shelf Number</label>
					</div>
				</div>
			</div>

			<!-- Language -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="Language" maxlength="255" required>
						<label class="form-label">Language</label>
					</div>
				</div>
			</div>

			<!-- Series -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="Series" maxlength="255" required>
						<label class="form-label">Series</label>
					</div>
				</div>
			</div>

			<!-- Issue Number -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="IssueNo" required>
						<label class="form-label">Issue Number</label>
					</div>
				</div>
			</div>

			<!-- Withdrawal On -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="date" class="form-control" name="WithdrawalOn" required>
						<label class="form-label">Withdrawal On</label>
					</div>
				</div>
			</div>

			<!-- Custom Tags -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="CustomTags" maxlength="255" required>
						<label class="form-label">Custom Tags</label>
					</div>
				</div>
			</div>

			<!-- Remarks -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="Remarks" maxlength="255" required>
						<label class="form-label">Remarks</label>
					</div>
				</div>
			</div>

			<!-- Subject Code -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="SubjectCode" required>
						<label class="form-label">Subject Code</label>
					</div>
				</div>
			</div>

			<!-- Pages -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="Pages" maxlength="255" required>
						<label class="form-label">Pages</label>
					</div>
				</div>
			</div>

			<!-- Month and Year -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="MonthandYear" maxlength="255" required>
						<label class="form-label">Month and Year</label>
					</div>
				</div>
			</div>

			<!-- Source -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="Source" maxlength="255" required>
						<label class="form-label">Source</label>
					</div>
				</div>
			</div>

			<!-- Reference -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="Reference" maxlength="255" required>
						<label class="form-label">Reference</label>
					</div>
				</div>
			</div>
	</div>
	<div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">Save Changes</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
		</div>
	</div>
</form>

@* <form id="form_advanced_validation" method="POST">
	<div>
		<div class="modal-body">
			<!-- First Column -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="BooksId" required>
						<label class="form-label">Books ID (Guid)</label>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="AccessionNumber" required>
						<label class="form-label">Accession Number</label>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="date" class="form-control" name="AccessorDate" required>
						<label class="form-label">Accessor Date</label>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="Barcode" required>
						<label class="form-label">Barcode</label>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="Title" maxlength="100" required>
						<label class="form-label">Title</label>
					</div>
				
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="Author" maxlength="100" required>
						<label class="form-label">Author</label>
					</div>
					
				</div>
			</div>


			<!-- Second Column -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="Year" min="1900" max="2100" required>
						<label class="form-label">Year</label>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="Edition" maxlength="50" required>
						<label class="form-label">Edition</label>
					</div>
					
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="Publisher" maxlength="100" required>
						<label class="form-label">Publisher</label>
					</div>
					
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="PublisherLocation" maxlength="100" required>
						<label class="form-label">Publisher Location</label>
					</div>
					
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="Volume" maxlength="50" required>
						<label class="form-label">Volume</label>
					</div>
					
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="VendorName" maxlength="100" required>
						<label class="form-label">Vendor Name</label>
					</div>
				
				</div>
			</div>

			<!-- Third Column -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="VendorPlace" maxlength="100" required>
						<label class="form-label">Vendor Place</label>
					</div>
					
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="OriginalAmount" required>
						<label class="form-label">Original Amount</label>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="Cost" required>
						<label class="form-label">Cost</label>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="Discount" step="0.01" required>
						<label class="form-label">Discount</label>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="BillNo" required>
						<label class="form-label">Bill Number</label>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="NoofCopies" required>
						<label class="form-label">Number of Copies</label>
					</div>
				</div>
			</div>

			<!-- Fourth Column -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="date" class="form-control" name="BillDate" required>
						<label class="form-label">Bill Date</label>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="ClassNo" required>
						<label class="form-label">Class Number</label>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="BookNumber" required>
						<label class="form-label">Book Number</label>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="CollectionNo" required>
						<label class="form-label">Collection Number</label>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="Isbnnumber" required>
						<label class="form-label">ISBN Number</label>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="Location" maxlength="100" required>
						<label class="form-label">Location</label>
					</div>
					
				</div>
			</div>

			<!-- Fifth Column -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="RackNo" required>
						<label class="form-label">Rack Number</label>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="ShelfNo" required>
						<label class="form-label">Shelf Number</label>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="Language" maxlength="50" required>
						<label class="form-label">Language</label>
					</div>
					
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="Series" maxlength="100" required>
						<label class="form-label">Series</label>
					</div>
					
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="number" class="form-control" name="IssueNo" required>
						<label class="form-label">Issue Number</label>
					</div>
				</div>
			</div>

			<!-- Sixth Column -->
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="date" class="form-control" name="WithdrawalOn" required>
						<label class="form-label">Withdrawal Date</label>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group form-float">
					<div class="form-line">
						<input type="text" class="form-control" name="CustomTags" maxlength="100" required>
						<label class="form-label">Custom Tags</label>
					</div>
					
				</div>
			</div>

		</div>
	</div>
	<div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">Save Changes</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
		</div>
	</div>
</form> *@
