@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LMS.Infrastructures.Models.Book
@{
}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form method="post" asp-action="InsertBook" asp-controller="Book">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="AccessionNumber">Book Addition Mode</label>
                            <input type="text" id="AccessionNumber" class="form-control" name="UserInput.Name" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="Title">Bar Code</label>
                            <input type="text" class="form-control" id="Title" placeholder="Bar Code" name="Barcode" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Accession Number</label>
                            <input type="number" class="form-control" id="exampleInputUsername1" placeholder="Accession Number" name="AccessionNumber" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Accessor Date</label>
                            <input type="date" class="form-control" id="exampleInputUsername1" name="AccessorDate" placeholder="Accessor Date" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Title</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" name="Title" placeholder="Title" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Author</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" name="Author" placeholder="Author" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Year</label>
                            <input type="number" class="form-control" id="exampleInputUsername1" name="Year" placeholder="Year" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Edition</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" name="Edition" placeholder="Edition" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Publisher</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" name="Publisher" placeholder="Publisher" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Publisher Location</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" name="PublisherLocation" placeholder="Publisher Location" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Volume</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" name="Volume" placeholder="Volume" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Vendor Name</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" name="VendorName" placeholder="Vendor Name" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Vendor Place</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" name="VendorPlace" placeholder="Vendor Place" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Original Amount(MPRP)</label>
                            <input type="number" class="form-control" id="exampleInputUsername1" name="OriginalAmount" placeholder="Original Amount" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Cost</label>
                            <input type="number" class="form-control" id="exampleInputUsername1" name="Cost" placeholder="Cost" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Discount</label>
                            <input type="number" class="form-control" id="exampleInputUsername1" name="Discount" placeholder="Discount" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Bill No</label>
                            <input type="number" class="form-control" id="exampleInputUsername1" name="BillNo" placeholder="Bill No" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">No of Copies</label>
                            <input type="number" class="form-control" id="exampleInputUsername1" name="NoofCopies" placeholder="No of Copies" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Bill Date</label>
                            <input type="date" class="form-control" id="exampleInputUsername1" name="BillDate" placeholder="Bill Date" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Class No</label>
                            <input type="number" class="form-control" id="exampleInputUsername1" name="ClassNo" placeholder="Class No" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Book Number</label>
                            <input type="number" class="form-control" id="exampleInputUsername1" name="BookNumber" placeholder="Book Number" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Collection No</label>
                            <input type="number" class="form-control" id="exampleInputUsername1" name="CollectionNo" placeholder="Collection No" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">ISBN Number</label>
                            <input type="number" class="form-control" id="exampleInputUsername1" name="Isbnnumber" placeholder="ISBN Number" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Location</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" name="Location" placeholder="Location" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Rack No</label>
                            <input type="number" class="form-control" id="exampleInputUsername1" name="RackNo" placeholder="Rack No" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Shelf No</label>
                            <input type="number" class="form-control" id="exampleInputUsername1" name="ShelfNo" placeholder="Shelf No" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Language</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" name="Language" placeholder="Language" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Series</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" name="Series" placeholder="Series" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Issue No</label>
                            <input type="number" class="form-control" id="exampleInputUsername1" name="IssueNo" placeholder="Issue No" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Withdrawal On</label>
                            <input type="date" class="form-control" id="exampleInputUsername1" name="WithdrawalOn" placeholder="Withdrawal On" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Tags</label>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Custom Tags</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" name="CustomTags" placeholder="Custom Tags" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Remarks</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" name="Remarks" placeholder="Remarks" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Subject Code</label>
                            <input type="number" class="form-control" id="exampleInputUsername1" name="SubjectCode" placeholder="Subject Code" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Pages</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" name="Pages" placeholder="Pages" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Month and Year</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" name="MonthandYear" placeholder="Month and Year" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Source</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" name="Source" placeholder="Source" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="exampleInputUsername1">Reference</label>
                            <input type="checkbox" class="form-control" id="exampleInputUsername1" name="Reference" placeholder="Reference" />
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>
