@page
@model LMS.Admin.Views.Home.IndexModel
@{
    ViewBag.Ref = "";
    ViewBag.Title = "";
}
<div class="page-header flex-wrap">
    <div class="header-left">
        <h2>Welcome to Library Management System</h2>
    </div>
</div>
<!-- first row starts here -->
@* <div class="row">
    <div class="col-xl-12 stretch-card grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between flex-wrap">
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@