<div class="page-header">
    <h3 class="page-title">@ViewBag.Title</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">@ViewBag.Ref</a></li>
            <li class="breadcrumb-item active" aria-current="page"> @ViewBag.Title </li>
        </ol>
    </nav>
</div>