<div class="page-header">
    @if (!string.IsNullOrEmpty(ViewBag.Title))
    {
        <h3 class="page-title">@ViewBag.Title</h3>
    }
    else
    {
        <h3 class="page-title"></h3>
    }
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">@ViewBag.Ref</a></li>
            <li class="breadcrumb-item active" aria-current="page"> @ViewBag.Title </li>
        </ol>
    </nav>
</div>