<footer class="footer">
    <div class="container">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Academy of Modern Learning, @DateTime.Now.Year</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Developed & Managed by <a href="https://www.SurkandaTechnology.com/" target="_blank">Surkanda Technology</a></span>
        </div>
@*         <div>
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"> Distributed By: <a href="https://themewagon.com/" target="_blank">Themewagon</a></span>
        </div> *@
    </div>
</footer>